<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>James Henegan</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>

  <nav>
    <div class="blue nav-wrapper">
      <a href="../index.html" class="brand-logo">James Henegan</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        
      </ul>
    </div>
  </nav>

  <div class="container">

    
    <h4>Biostatistics</h4>


    <ul>
      <li>Measurement Scales</li>
      <li>Sampling</li>
      <li>Descriptive Statistics</li>
        <ul>
          <li>Measures of Central Tendency</li>
          <li>Measures of Dispersion</li>
        </ul>
      <li>Parameter Estimation</li>
      <li>Inference</li>
      <li>Hypothesis Testing</li>
      <li>Type I Error</li>
      <li>Type II Error</li>
      <li>Confidence Intervals</li>
      <li>Nonparametric Methods</li>

      <ul>
        <li>The Sign Test</li>
        <li>The Wilcoxon Signed-Rank Test</li>
        <li>The Median Test</li>
      </ul>
      <li>Regression Methods</li>
      <li>Linear Regression</li>
      <li>ANOVA</li>
      <li>Contingency Tables</li>
      <li>Bayes' Theorem, Screening Tests, Sensitivity, Specificity, Positive Predictive Value</li>
      <li>Logistic Regression</li>

      <li>Study Design</li>

      <ul>The Completely Randomized Design</ul>
      <ul>The Blocked Design</ul>
    </ul>

    <h4>Mathematical Statistics / Probability Theory</h4>

    <ul>
      <li>Set Theory</li>
      <li>Axiomatic Foundations of Probability Theory</li>
      <li>The Probability Set Function</li>
      <li>Conditional Probability and Independence</li>
      <li><b>Random Variables</b> </li>
      <ul>
        <li>Discrete Random Variables</li>
        <li>Continuous Random Variables</li>
      </ul>

      <li>Distribution Functions</li>
      <li>Desnity and Mass Functions</li>   
      
      <li>The Expected Value of a Random Variable</li>
      <li>Variance of a Random Variable</li>
      <li>Moments and Moment Generating Functions</li>
      <li>Common Distributions</li>
        <ol>Binomial Distribution</ol>
        <ol>Poisson Distribution</ol>
        <ol>Normal Distribution</ol>
        <ol>Multivariate Normal Distribution</ol>
        <ol>Beta Distribution</ol>
        <ol>Gamma Distribution</ol>
        <ol>Expoenential Distribution</ol>
        <ol>Chi-Square Distribution Distribution</ol>
      <li>Relationships Between Distributions</li>

      <li>Multiple Random Variables</li>
      <li>Joint and Marginal Distributions</li>
      <li>Conditional Distributions and Independence</li>

      <li>Chebyshev's Inequality and the Weak Law of Large Numbers</li>

      <li>Covariance and Correlation</li>

      <li>Properties of a Random Sample</li>

      <li>Sampling from the Normal Distribution</li>
      <li>The Delta Method</li>

      <li>Sampling Distributions of Statistics</li>

      <li>Unbiasedness, Consistency, and Limiting Distributions</li>

      <li>Maximum Likelihood Estimation</li>
      <li>Fisher Information</li>
    </ul>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
