<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jim Henegan | Home</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>


  <nav>
    <div class="blue nav-wrapper">
      <a href="../index.html" class="brand-logo">The Expected and the Observed</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="viz.html">Visualizations</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
  </nav>


  <div class="container">

    <p><b>Under Construction</b></p>
    <h4>Helpful Websites</h4>
    <ol>
      <li>Patrick Breheny</li>
      <li>UCLA IDRE</li>
      <li>Penn State 501</li>
    </ol>

    <h4>YouTube Channels</h4>
    <ol>
      <li>MIT OpenCourseware</li>
      <li>EdX</li>
      <li>Udemy</li>
      <li><a href="https://www.youtube.com/watch?v=3wbLr-NnIKI&list=PLTPQEx-31JXhguCush5J7OGnEORofoCW9">Mathematics of
          Machine Learning. Microsoft Research. </a></li>
    </ol>

    <h4>Books</h4>

    <ol>
      <li>R for Data Science.</li>
      <li>The Signal and the Noise</li>
    </ol>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>