<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jim Henegan | Home</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

</head>

<body>


  <nav>
    <div class="blue nav-wrapper">
      <a href="../../index.html" class="brand-logo">The Expected and the Observed</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../viz.html">Visualizations</a></li>
        <li><a href="../blog.html">Blog</a></li>
        <li><a href="../projects.html">Projects</a></li>
        <li><a href="../resources.html">Resources</a></li>
        <li><a href="../about.html">About</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <p><b>Under Construction</b></p>

    <ol>
      <li>Multiple Linear Regression</li>
      <li>Poisson Regression, Zero-Inflated Poisson Regression, Negative Binomial Regression</li>
      <li>Multinomial Regression</li>
      <li>Logistic Regression</li>
      <li>Generalized Linear Models</li>
      <li>Introduction to Survival Analysis</li>
      <li>Kernel Local Regression</li>
      <li>Polynomial Regression</li>
      <li>Linear Splines</li>
      <li>Generalized Additive Models</li>
      <li>Split Sample Validation, Cross Validation, Bootstrap Techniques</li>
      <li>Penalized Regression</li>
      <li>Fractional Polynomials</li>
      <li>LOWESS Smoothing</li>
      <li>Support Vector Means</li>
      <li>Principal Component Analysis</li>
    </ol>



  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>