<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jim Henegan | Home</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

</head>

<body>


  <nav>
    <div class="blue nav-wrapper">
      <a href="../../index.html" class="brand-logo">The Expected and the Observed</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../viz.html">Visualizations</a></li>
        <li><a href="../blog.html">Blog</a></li>
        <li><a href="../projects.html">Projects</a></li>
        <li><a href="../resources.html">Resources</a></li>
        <li><a href="../about.html">About</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <p><b>Under Construction</b></p>

    <ol>
      <li>Exploratory Data Analyis</li>
      <li>Normal Distributions, Central Limit Theorem</li>
      <li>Point Estimation, Interval Estimation</li>
      <li>Frequentist Inference</li>
      <li>Likelihood, Bayesian Inference</li>
      <li>Overview of Statistical Paradigms</li>
      <li>Linear Combinations of Normal Distributions</li>
      <li>Comparing two Independent Groups</li>
      <li>Non-parametric Methods</li>
      <li>Comparing <em>k</em>-groups, continuous</li>
      <li>Comparing <em>k</em>-groups, discrete</li>
      <li>Simple Linear Regression</li>
      <li>Smoothers</li>
      <li>Multiple Linear Regression</li>
      <li>Logistic Regression</li>
    </ol>



  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>