<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jim Henegan | Home</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

</head>

<body>


  <nav>
    <div class="blue nav-wrapper">
      <a href="../../index.html" class="brand-logo">The Expected and the Observed</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../viz.html">Visualizations</a></li>
        <li><a href="../blog.html">Blog</a></li>
        <li><a href="../projects.html">Projects</a></li>
        <li><a href="../resources.html">Resources</a></li>
        <li><a href="../about.html">About</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <p><b>Under Construction</b></p>

    <h4>Sensitivity and Specificity</h4>   

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Observed Positive</th>
          <th>Observed Negative</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><b>Predicted Positive</b></td>
          <td>True Positive</td>
          <td>False Positive (Type I Error)</td>
        </tr>
        <tr>
          <td><b>Predicted Negative</b> </td>
          <td>False Negative (Type II Error)</td>
          <td>True Negative</td>
        </tr>
      </tbody>
    </table>
    

    <p>
      This terminology leads to the definitions 
      $$
       \text{Sensitivity} =\frac{\sum \text{True Positive}}{\sum \text{Observed Positive}}
      \quad \quad \text{and} \quad \quad
       \text{Specificity} =\frac{\sum \text{True Negative}}{\sum \text{Observed Negative}}
      $$
    </p>

    <p>Sometimes, our predictions aren't simply "positive" or "negative."  Instead, our predictions can be "probability of positive" and "probability of negative." In this case, we can define a decision boundary \(p = p_0\) such that we will predict "positive" if the predicted probability is greater than \(p_0\), and we will predict negative if the predicted probability is less than \(p_0\).  Then, by varying our decision boundary, we can construct an ROC curve.</p>

    <p>For my current project, I am trying to apply this to survival analysis.  Suppose that, at each point in time, we have 
      <ol>
        <li>Observations about how many people have died and how many have survived.</li>
        <li>Predictions about how many people have died and how many have survived.</li>
      </ol>

      Also, suppose that, at each time, we can figure out how many who were predicted to have died have actually died. Likewise, suppose that, at each time, we can figure out how many who were predicted to have survived have actually survived.      
    </p>

    <p>For a Cox Proportional Hazard model with one binary covariate, our predictions will be fairly simple.</p>


    <h4>Type I and Type II errors</h4>

    <p>For example, suppose that we have some hypothesis \(H_0\) about how a DGP behaves. The hypothesis is of the
      nature that it is either true or false, up to some pre-specified level of confidence \(\alpha\). At the same time,
      we have data that has been generated by that DGP that will help us decide whether or not we should reject \(H_0\).
    </p>



    <table>
      <thead>
        <tr>
          <th></th>
          <th>\(H_0\) is True</th>
          <th>\(H_0\) is False</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><b>Accept \(H_0\)</b></td>
          <td>Correct Inference</td>
          <td>Type II Error</td>
        </tr>
        <tr>
          <td><b>Reject \(H_0\)</b> </td>
          <td>Type I Error</td>
          <td>Correct Inference</td>
        </tr>
      </tbody>
    </table>

  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>